@page
@model Acme.BookStore.Web.Pages.IndexModel
@using Acme.BookStore.Web.Menus
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Microsoft.AspNetCore.Mvc.Localization
@using Acme.BookStore.Localization
@using Volo.Abp.Users
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<BookStoreResource> L
@inject ICurrentUser CurrentUser
@{
    ViewBag.PageTitle = L["Home"];
    PageLayout.Content.MenuItemName = BookStoreMenus.Home;
}

@section styles {
    <abp-style src="/Pages/Index.css" />
    
}
<style>
    a{
        text-decoration: none;
        font-size: 20px;
    }
    a:hover {
        color: forestgreen;
        text-decoration: underline;
        font-size:25px;
        font-weight:bold;
    }
</style>
<center>
    <h1>Welcome! </h1>
    <p>This amazing website is developed by the greates developer ever, <a href="https://www.github.com/YoussefNour1">Youssef Nour</a>.</p>
</center>